AddDefaultCharset UTF-8
RewriteEngine On

#
RewriteRule ^trang-chu.html$ index.php?controller=home [L]

#
RewriteRule ^cua-hang/$ index.php?controller=store [L]
RewriteRule ^cua-hang-(.*)/c(.*)$ index.php?controller=store&category=$2 [L]
RewriteRule ^cua-hang-(.*)/c(.*)$ index.php?controller=store&category=$2 [L]
RewriteRule ^cua-hang-(.*)/c(.*)$ index.php?controller=store&category=$2 [L]
RewriteRule ^cua-hang-(.*)/c(.*)$ index.php?controller=store&category=$2 [L]
RewriteRule ^cua-hang-(.*)/c(.*)$ index.php?controller=store&category=$2 [L]

#
RewriteRule ^tin-tuc/$ index.php?controller=new_controller [L]
RewriteRule ^lien-he/$ index.php?controller=new_controller&action=contactPage [L]

#
RewriteRule ^hang-khuyen-mai/$ index.php?controller=store&hot_deal=1 [L]	

#
RewriteRule ^san-pham-(.*)/p(.*)$ index.php?controller=product_controller&id=$2 [L]

