AddDefaultCharset UTF-8
RewriteEngine On
#DocumentRoot "/var/www/localhost"
#AliasMatch "^/administrator" "/Project/EcomerceWebsite/admin"
#<Directory "/Project/EcomerceWebsite/admin">
	#RewriteBase /admin/
	RewriteRule ^trang-chu.html$ index.php [L]
	RewriteRule ^san-pham.html$ product.php [L]
	RewriteRule ^nha-san-xuat.html$ manufacturer.php [L]
	RewriteRule ^hoa-don.html$ orders.php [L]
	RewriteRule ^chi-tiet-san-pham(.+)_id=(.+).html$ product.php?action=display_edit&id=$2 [L]
	RewriteRule ^them-san-pham-moi.html$ product.php?action=display_insert [L]
#</Directory>