AddDefaultCharset UTF-8
RewriteEngine On
#DocumentRoot "/var/www/localhost"
#AliasMatch "^/administrator" "/Project/EcomerceWebsite/admin"
#<Directory "/Project/EcomerceWebsite/admin">
	#RewriteBase /admin/
	RewriteRule ^trang-chu.html$ index.php?controller=home [L]
	RewriteRule ^cua-hang-may-anh.html$ index.php?controller=store&category=1 [L]
	RewriteRule ^cua-hang-phu-kien.html$ index.php?controller=store&category=2 [L]
	RewriteRule ^cua-hang-may-tinh.html$ index.php?controller=store&category=3 [L]
	RewriteRule ^cua-hang-dien-thoai.html$ index.php?controller=store&category=4 [L]
	RewriteRule ^cua-hang-san-pham-ban-chay.html$ index.php?controller=store&category=5 [L]
#</Directory>